<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy</title>
    <link th:href="@{/styles/mainStyles.css}" rel="stylesheet"/>
    <link th:href="@{/styles/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/styles/profile.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="navbar :: navbar">  </div>
<div class="page_container">
    <h1 class="title">Modify Profile</h1>
    <p th:if="${passwordError}" class="error">Incorrect Password</p>
    <form method="post" modelAttribute="ModifyProfile" th:action="@{/editProfile}" th:object="${ModifyProfile}">
        <input class="info" type="email" name="email" path="*{email}"th:value="${email}"/>
        <input class="info" type="text" name="lastName" path="*{lastName}" th:value="${lastname}"/>
        <input class="info" type="text" name="firstName" path="*{firstName}" th:value="${firstname}"/>
        <input class="info" type="password" name="password" path="*{password}" placeholder="Password"/>
        <input class="apply_button" type="submit" value="Apply">
    </form>
</div>

</body>
</html>