<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy</title>
    <link th:href="@{/styles/mainStyles.css}" rel="stylesheet"/>
    <link th:href="@{/styles/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/styles/profile.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="navbar :: navbar">  </div>
<div class="page_container">
    <h1 class="title">Modify Password</h1>
    <p th:if="${oldPasswordError}" class="error">Incorrect Password</p>
    <p th:if="${passwordLengthError}" class="error">New passwords must be at least 6 characters</p>
    <p th:if="${passwordMatchError}" class="error">New passwords don't match</p>
    <form method="post" modelAttribute="changePassword" th:action="@{/editPassword}" th:object="${changePassword}">
        <input class="info" type="password" name="oldPassword" path="*{oldPassword}" placeholder="Current Password"/>
        <input class="info" type="password" name="newPassword" path="*{newPassword}" placeholder="New Password"/>
        <input class="info" type="password" name="confirmNewPassword" path="*{confirmNewPassword}" placeholder="Confirm New Password"/>
        <input class="modify" type="submit" value="Apply">
    </form>
</div>
</body>
</html>