<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy</title>
    <link th:href="@{/styles/profile.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="navbar :: navbar">  </div>
<div class="profile">
    <h1 class="page_title">Modify Profile</h1>
    <p th:if="${passwordError}" class="error">Incorrect Password</p>
    <form method="post" modelAttribute="ModifyProfile" th:action="@{/editProfile}" th:object="${ModifyProfile}">
        <input class= "info" type="email" id="email" name="email" path="*{email}"th:value="${email}"/>
        <input type="text" id="lastName" name="lastName" path="*{lastName}" th:value="${lastname}"/>
        <input type="text" id="firstName" name="firstName" path="*{firstName}" th:value="${firstname}"/>
        <input type="password" id="password" name="password" path="*{password}" placeholder="Password"/>
        <input type="submit" value="Apply">
    </form>
</div>

</body>
</html>