<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy</title>
    <link th:href="@{/styles/login.css}" rel="stylesheet"/>
</head>
<body>
    <div>
        <h1>Pay My Buddy</h1>
        <p th:if="${loginError}" class="error">Wrong Email or Password</p>
        <form method="post" modelAttribute="loginModel" th:action="@{/login}" th:object="${loginModel}" >
            <input type="email" id="email" name="email" path="*{email}" placeholder="Email"><br>
            <input type="password" id="password" name="password" path="*{password}"  placeholder="Password"><br>
            <input type="checkbox" id="remember" name="remember_me" value="Remember Me">
            <label for="remember">Remember Me</label><br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>