<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar">
  <h1 class="title">Pay My Buddy</h1>
  <ul class="navbar_links">
    <li><a id="hub" th:href="hubPage">Home</a></li>
    <li><a id="transfer" th:href="transfer">Transfer</a></li>
    <li><a id="profile" th:href="profile">Profile</a></li>
    <li><a id="contact" th:href="contact">Contact</a></li>
    <li><a th:href="login">Log off</a></li>
  </ul>
</nav>
</body>
</html>