
.border{
    border: 1px solid;
    border-radius: 10px;
}

input{
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.4em;
}

#email, #password, #lastName, #firstName, #confirm {
    width : 90%;
}

label{
    font-size: 1.4em;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 0.15em;
    }

.button{
    width : 28%;
    color: white;
    border-radius : 0.5em;
    background-color: #3b68d9;
    margin : 2.5em auto;
    font-size: 1.4em;
}

.button:hover{
    background-color: #588aed;
    cursor: pointer;
}
