
#transfer{
    color: #588aed;
}

.path_div{
    padding : 1em;
    background-color: #eeeeee;
}

.path_list{
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
}

.path_list li{
    margin: 0 1em;
    font-size : 1.3em;
}
#home{
    color: #588aed;
}
#slash{
    color: #588aed;
}
#transfer_path{
    color : #999999;
}

.page_container{
    width: 60%;
    margin:auto;
    margin-top: 1em;
}
.send_money{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size : 1.3em;
    }
.add_connection{
    padding : 0.8em 1.5em;
    background-color: #588aed;
    color: white;
    border-radius : 0.5em;
    text-decoration: none;
}

.transfers{
    background-color: #eeeeee;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.transfers ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
